body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div{
  font: 25pt Arial;
  height: 80px;
  display: flex;
  flex-direction: row;
 background-color: lightblue;
 border-color: slateblue;
 border-width:  3px;
 border-style: solid;
 border-radius: 10px;

}
#header_1{
  display: flex;
  align-items: center;
}
#header_2{
  display: flex;
  align-items: center;
  margin-left: auto;
  font: 15pt Arial;
}
#header_2 a{
  margin-right:  20px;
}
#header_2 a[href=""]{
  pointer-events: none;
  cursor: pointer;
  text-decoration: none;
  color: grey;
}
#logo {
    border-radius: 100px;
    border-color: slateblue;
    border-width:  3px;
    border-style: solid;
    width: 30pt;
    height: 30pt;
    margin-left: 5pt;
    margin-right: 5pt;
}
center{
  padding-top: 30pt;
  font: 20pt Arial;
}
center span{
  margin-right:  10px;
}
#user{
  width: 100pt;
  height: auto;
}
#homepage{
  padding-top: 20pt;
  width: 150pt;
  height: auto;
}
#table, #table th, #table td {
  border:  solid slateblue;
  border-width:  2px;
  border-collapse: collapse;
  border-spacing: 30pt;
}
#just{
  vertical-align: top;
}
#show {
width:600pt;
border-spacing: 30px;
}
footer{
  position: fixed;
  bottom:0;
  text-align: center;
}
hr{
  width:1400px;
}
input{
  margin-bottom:  10px;
}
form{
  display: inline-block;
}
#page{
  width:25pt;
  height: 20px;
}